version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      tanstack:
        patterns:
          - "@tanstack/*"
      mui:
        patterns:
          - "@mui/*"
      eslint:
        patterns:
          - "@eslint/*"
          - "eslint*"
      react:
        patterns:
          - "react"
          - "react-dom"
          - "@types/react"
